/* Common */
body {
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
}

.container-1, .container-2 {
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    width: 75%;
}

.flexbox-container-1, .flexbox-container-2 {
    display: flex;
    border: 1px solid #f3f1f1;
    padding: 10px;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    backdrop-filter: blur(2rem);
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}
.flexbox-container-1 div {
    display: flex;
    padding: 10px;
    align-items: center;
}

#flexbox-result {
    display: flex;
    padding: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

.container2-btn {
    padding: 10px;
}

.flexbox-container-2 img {
    margin: 10px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.7);
}