/* Common */
body {
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
}

/* Challenge 1 Container */
.container-1 {
    text-align: center;
    padding: 10px;
}

/* Flexbox Container 1 */
.flexbox-container-1 {
    display: flex;
    border: 1px solid #f3f1f1;
    padding: 10px;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    backdrop-filter: blur(2rem);
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}
.flexbox-container-1 div {
    display: flex;
    padding: 10px;
    align-items: center;
}